body{
    background-color: rgb(0, 15, 97);
    color: #ffff;
}
a{
    color: rgb(95, 159, 255);
}
p, a, h1{
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    margin-top: 15%;
}
